<h2>Mass DNS Check Utility</h2>
<hr> {{ render "partials/messages.html" }}

<form class="form-horizontal" method="POST" action="/">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <label for="hosts">Hostnames to lookup</label>
            <textarea name="hosts" id="hosts" class="form-control" rows="18" placeholder="List of domains or '<ip> <host> <host>...' pairs">{{ if index .Messages "originalHosts" }}{{ .Messages.originalHosts }}{{ end }}</textarea>
        </div>

        <div class="col-sm-12 col-md-4">
            <label for="resolvers">DNS Server to utilize</label>
            {{ if index .Conf.Resolvers "Custom" }}
                <input type="hidden" value="Custom" name="resolvers">
            {{ else }}
            <select id="resolvers" name="resolvers" class="form-control" style="margin-bottom: 15px;">
                {{ range $key, $value := .Conf.Resolvers }}
                    <option value="{{ $key }}" {{ if eq $key "Local Resolvers" }}selected{{ end}}>{{ $key }}{{ if eq $key "Local Resolvers" }} [default]{{ end}}</option>
                {{ end }}
            </select>
            {{ end }}
            <label for="recordtype">Record Lookup Type</label>
            <select id="recordtype" name="recordtype" class="form-control">
                <option value="A" selected>A</option>
            </select>
        </div>

        <div class="col-md-12">
            <button style="margin: 15px 0;" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>